.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section{
  transform: translateY(-25%);
}

.search_wpr{
  position: relative;
  width: 30rem;
  margin: 2rem auto;
}

.search_field{
  width: 100%;
  box-sizing: border-box;
  padding: .5rem 30px;
  border-radius: 5px;
}

.icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.icon--left{
  left: 10px
}
.icon--right{
  right: 10px;
}